venv/
__pycache__/
*.pyc
.env
.DS_Store
data/raw/
data/processed/
notebooks/.ipynb_checkpoints
*.ipynb
models/downloaded/
logs/
data/uploads/
data/results/
data/batches/
data/satellite_cache/
debug_traceback.log